<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
      <add name="MyDatabaseConnection" 
		   connectionString="Data Source=localhost,1433;Initial Catalog=TodoDb;User ID=SA;Password=Password_123#;Trust Server Certificate=True"
           providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>